{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
  <h1>Welcome to Chef Stef for MS</h1>

  <h3><b>What is MS?</b></h3>
  <p>Multiple sclerosis (MS) is an unpredictable disease of the central nervous system that disrupts the flow of information
       within the brain, and between the brain and body.</p>

  <h3><b>Who are we?</b></h3>
  <p>We are a non-profit organization whose sole purpose is to help out the MS community by donating to rehabilitation and therapy
       centers, implement entertainment centers specialized for MS patients, and to research to help hasten the process of finding
       treatments. We also seek to build a community of food-lovers that love to share their experiences and their recipes!
  </p>

  <h3><b>Services We Provide</b></h3>
  <p>Chef Stef for MS is a platform where chefs from all around the world share their recipes for a great cause. The money made
      goes towards all of the charities mentioned above.
  </p>

    
{% endblock %}

