{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
  <h1>About Us</h1>
  <h3>Welcome to Chef Stef for MS! Read our mission and goals below</h3>
  <p><b>Our Mission: </b>to help provide for the MS community by giving our profits to different causes,
  such as: donating money to research, rehabilitation, entertainment, therapy, and activities</p>
  <p><b>Our Goals:</b></p>
  <ul>
    <li>Goal #1: Build a rehabilitation/therapeutic center</li>
    <li>Goal #2: Have over 1,000 registered users (by January 1, 2023)</li>
    <li>Goal #3: Have over 5,000 recipes (by January 1, 2023)</li>
    <li>Goal #4: Raise +$10,000 (by January 1, 2023)</li>
  </ul>
{% endblock %}
