{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
  <h1>About Us</h1>
  <h3>Welcome to Chef Stef for MS! Read our mission and goals below</h3>
  <p><b>Our Mission: </b>to help provide for the MS community by giving our profits to different causes,
  such as: donating money to research, rehabilitation, entertainment, therapy, and activities</p>
  <p><b>Our Goals:</b></p>
  <ul>
    <li>Goal #1</li>
    <li>Goal #2</li>
    <li>Goal #3</li>
    <li>Goal #4</li>
    <li>Goal #5</li>
  </ul>
{% endblock %}
